/* .kanban-board {
    display: flex;
    gap: 20px;
    overflow-x: auto;
  }
  
  .kanban-column {
    flex: 1;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .kanban-column h2 {
    text-align: center;
    background-color: #f1f1f1;
    padding: 10px;
    margin: 0 -10px 10px;
    border-radius: 5px 5px 0 0;
  }
   */


   .board {
    display: flex;
    gap: 24px;
    min-width: min-content;
  }
  